@import "colorscheme.css";

/* `otf-font-awesome` is required to be installed for icons */
* {
  font-family: FontAwesome, "Liga SFMono Nerd Font";
  font-size: 13px;
  font-weight: bold;
  margin: 2px;
  background: transparent;
}

window#waybar {
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.termite {
  background-color: #3f3f3f;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}

#window {
  padding: 0 12px 2px 12px;
  border-radius: 5px;
  background-color: @peach;
  color: black;
  box-shadow: inset 0 -4px @peach-dark;
}

#window label {
  background-color: transparent;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
}

button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.active {
  color: @peach;
  border-radius: 10px;
  color: @base;
  background-color: @peach;
}

#workspaces button {
  padding: 0 5px;
  color: #ffffff;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
  background-color: @lavender;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#mode {
  background-color: #64727d;
  box-shadow: inset 0 -3px #ffffff;
}

#clock,
#bluetooth,
#custom-power,
#custom-notification,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#workspaces,
#mpd {
  color: #000;
  border-radius: 5px;
}

#custom-power {
  background: white;
  padding: 0px 12px 3px 9px;
  box-shadow: inset 0 -4px @dark-white;
}

#clock {
  background: @sky;
  font-size: 14px;
  padding: 0 10px;
  padding-bottom: 2px;
  box-shadow: inset 0 -4px @sky-dark;
}

#battery,
#battery.charging,
#battery.plugged {
  background-color: @green;
  padding: 0 15px 0 8px;
  box-shadow: inset 0 -4px @green-dark;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#network,
#network.disconnected {
  background-color: @yellow;
  padding: 0px 13px 2px 13px;
  box-shadow: inset 0 -4px @yellow-dark;
}

#bluetooth {
  background-color: @sky;
  padding: 0 10px 4px 8px;
  box-shadow: inset 0 -4px @sky-dark;
}

#pulseaudio {
  background-color: @maroon;
  padding: 5px;
  padding-bottom: 7px;
  box-shadow: inset 0 -4px @maroon-dark;
}

#pulseaudio.muted {
  background-color: #90b1b1;
}
